.web{
    display: flex;
    flex: 1;
    align-items: center;
}
.web-option{
    font-size: 20px;
    margin-right: 16px;
    font-weight: 700;
}
.web-option a{
    text-decoration: none;
    background:linear-gradient(
        to right top,
        #ffbe66,
        #ffc362,
        #ffc85e, 
        #ffcd5b, 
        #ffd357, 
        #ffd858, 
        #ffde59, 
        #ffe35b, 
        #ffea61, 
        #fff167,
        #fff76e, 
        #fffe75
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
}
.option-icon{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.web-option:last-child{
    margin-right: 0px;
}