.skill-card{
    width: 20%;
    padding: 8px 16px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 6px;
}

.skill-icon{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 70%;

}
.skill-name{
    font-size: 18px;
}
@media only screen and (max-width: 720px){
    .skill-card{
        width: 10%;
        height: 100px;
    }
    .skill-icon{
        font-size:  60px;
    }
}