.mobile{
    background-color: rgb(247, 247, 247);
    height: 100vh;
    width: 60vw;
    position: absolute;
    right: 0px;
    top: -6px;
    padding: 18px 12px;
    display: flex;
    flex-direction: column;
}
.close-icon{
    background:linear-gradient(
        to right top, 
        #fe66ff, 
        #ff54da, 
        #ff48b7, 
        #ff4496,
        #ff4678, 
        #ff5867, 
        #ff6a58,
        #ff7d4b,
        #ff994c, 
        #ffb353, 
        #ffcd61,
        #ffe675
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}
.mobile-options{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mobile-option{
    font-size: 24px;
    margin: 12px 0px;
    display: flex;
}
.mobile-option a{
    background:linear-gradient(
        to right top, 
        #fe66ff, 
        #ff54da, 
        #ff48b7, 
        #ff4496,
        #ff4678, 
        #ff5867, 
        #ff6a58,
        #ff7d4b,
        #ff994c, 
        #ffb353, 
        #ffcd61,
        #ffe675
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    display: flex;
}